<div class="container">
  <div id="restarants"
    data-controller="api">
    <%# Search Form %>
    <%= form_with url: root_path,
      method: :get, html: {data: {api_target: "form"}} do |form| %>
      <%= form.text_field :query,
                          placeholder: "Postcode" %>
      <%= form.submit "Search", data: {action: "api#search"} %>
    <% end %>

    <div class="container">
      <%# Search results %>
      <div data-api-target="list">

      </div>
    </div>
  </div>
</div>
